@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Oswald|Source+Sans+Pro&display=swap');


body {
  background-color: #F9F8FF !important;
  padding-bottom: 5px;
}

.cursor {
  cursor: pointer;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.appContainer {
  height: 100% !important;
}

.cart-icon-container {
  position: relative; 

}

.cart-img {
  object-fit: contain;
  width: 100%;
  height: 15vh;
}



.cart-summary-detail {
  font-size: 14px
}

select {
  margin: 0;
  background: #fff;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  width: 65px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {padding-right:18px}
}

.cart-select-quantity {
  position: relative;
}
.cart-select-quantity:after {
  content:"\f078";   
  font-family: "FontAwesome";
  font-size: 11px;
  /* color:#aaa; */
  right:8px; 
  top:4px;
  /* padding:0 0 2px; */
  position:absolute;
  pointer-events:none;
}
.cart-select-quantity:before {
  content:'';
  right:4px; 
  top:0px;
  width:10px; 
  height:18px;
  background:#fff;
  position:absolute;
  pointer-events:none;
  display:block;
}
.cart-select-quantity-dropdown {
  width: 16px;
}

.total {
  border-top: 1px solid white;
  font-size: 15px;
}

.delete-modal-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.242);
  /* opacity: .5; */
  /* z-index: -1 */
}

.delete-modal {
  /* z-index: 1; */
  opacity: 1;
  position: absolute !important;
  width: 320px !important;
  /* height: 125px !important; */
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50% );
}

.delete-modal button {
  width: 80px;
}

.fakeCard {
  border-radius: .25rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#minus, #plus, .cart-product-redirect, .backText, .header-cart, .overlay, .addBtn, .cart-icon {
  cursor: pointer;
}


input, .overlay:focus {
  outline: none;
}

.quantity-input {
  font-size: 16px;
  width: 40px !important;
  height: 25px !important;
  color:#888;
  border-radius: 2.5px;
}

.cartImg {
  object-fit: contain;
  width: 100%;
  height: 20vh;
  /* border: 1px solid rgba(199, 199, 199, 0.5) */
}

.shoppingCart {
  display: flex;
  position: absolute;
  right: 4vw;
  align-items: center;
}

.overlayContainer {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border: 0;
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.header-container {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 23, 60);
  color: white
}



.cart-icon-badge {
  background-color: red; 
  position: absolute; 
  bottom: -5px; 
  right: -5px;
  cursor: pointer;
}

.cart-icon:hover {
  transform: scale( 1.1 );
  color: rgba(255, 255, 255, 0.697);
}


#minus:hover, #plus:hover {
  transform: scale( 1.1 );
}

.addBtn {
  display: block;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: rgb(231, 231, 231);
  opacity: .4
}

.snackbarContainer {
  position: absolute;
  right: 2%;
  height: 100%;
}

.snackbar {
  visibility: hidden;
  position: sticky;
  top: 10px;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  z-index: 1; 
}

.credit-modal {
  background-color: blue;
}



/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {top: 10px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {top: 10px; opacity: 0;}
}

.cardContainer:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.605);
  transition: all 0.2s;
  transform: scale(1.02)
}
.cardContainer:hover > .cardImg {
  filter: none;
}

.cardImg {
  display:block;
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.backText {
  font-size: 20px;
}

.continue-shop-btn {
  position: absolute;
  bottom: 0;
  right: 0
}

.checkout-list-item {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.backText:hover {
  color: rgb(165, 165, 165);
  text-decoration: underline;
}

.detailContainer {
  height: 85vh;
}
.productImg {
  width: 50% !important;
}



.order-summary-img {
  object-fit: contain;
  width: 120px;
  height: 100px;
}

/* Product List*/
.product-list-header-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100vw;
  height: 65vh;
  position: relative;
}

.product-list-header-title {
  color:white; 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate( -50%, -50% );
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.product-list-header-button {
  font-size: 12px !important;
  font-weight: bold !important;
  outline: none !important;
  border: none !important;

}
.product-list-section {
  width: 100vw;
}

@media screen and ( max-width: 400px ){
  .product-list-header-img {
    height: 40vh;
  }

  .product-list-header-title {
    font-size: 2rem;
  }

  .product-list-header-button {
    display: none !important;
  }
}

/* PRODUCT DETAIL */
.product-detail-name {
  font-family: 'Archivo Black', sans-serif;
}
.product-price {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.product-short-description {
  font-size: 14px;
}

.product-specs {
  font-size: 14px;
}

.carousel-side-img {
  cursor: pointer;
}


/* PRODUCT LIST ITEM */

.product-item-card-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 17px;
}

.product-item-card-text {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Image Carousel */
.product-carousel-section {
  height: 70vh;
}

.product-detail-carousel-container {
  height: 70px;
}

.carousel-img {
 width: 100%;
 height: 100%;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}



/* Cart */
.cart-summary-section {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.cart-summary-body {
  background-color: rgb(18, 23, 60);
  color: white;
  position: sticky;
  top: 5%;
}

.cart-summary-item-name {
  font-size: 'Source Sans Pro', sans-serif;

}

/* Checkout */
.checkout-cart-container {
  margin-top: 48px; /* place it under navbar */
  /* height: 36vh; */
  overflow: scroll;
  padding-bottom: 48px;
  border-radius: 0 !important;
  border-bottom-left-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
  padding-bottom: 0 !important;
}

.checkout-cart div {
  font-size: 14px;
  font-weight: thin;
}

.checkout-cart-item-name {
  font-size: 16px;
}

.checkout-footer {
  bottom: 0;
  width: 100%;
  border: 1px solid rgba(0,0,0,.125); 
}
