body {
  background-color: #F9F8FF !important;
  padding-bottom: 5px;
}

.appContainer {
  height: 88vh !important;
}

.cart-icon:hover {
  color: rgb(158, 177, 240);
}

.fakeCard {
  border-radius: .25rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.quantity-input {
  width: 15% !important;
}

.cartImg {
  object-fit: contain;
  width: 100%;
  height: 20vh;
  border: 1px solid rgba(199, 199, 199, 0.5)
}

.shoppingCart {
  display: flex;
  position: absolute;
  right: 4vw;
  align-items: center;
}

.overlayContainer {
  position: relative;
  width: 100%;
}

.overlay:focus {
  outline: none;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border: 0;
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.header-container {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 23, 60);
  color: white
}

.addBtn {
  display: block;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: rgb(231, 231, 231);
  opacity: .4
}

.snackbarContainer {
  position: absolute;
  right: 2%;
  height: 87vh;
}

.snackbar {
  visibility: hidden;
  position: sticky;
  top: 10px;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  z-index: 1; 
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {top: 10px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {top: 10px; opacity: 0;}
}

.cardContainer:hover {
  box-shadow: 3px 3px rgb(213, 213, 213);
  transition: all 0.2s;
  transform: scale(1.03)
}
.cardContainer:hover > .cardImg {
  filter: none;
}

.cardImg {
  display:block;
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.backText {
  font-size: 20px;
}

.continue-shop-btn {
  position: absolute;
  bottom: 0;
  right: 0
}

.checkout-list-item {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.backText:hover {
  color: rgb(165, 165, 165);
  text-decoration: underline;
}

.detailContainer {
  height: 85vh;
}
.productImg {
  width: 50% !important;
}

.productImgContainer {
  background-color: white;
}

.checkoutCartContainer {
  margin-top: 48px; /* place it under navbar */
  height: 36vh;
  overflow: scroll;
  padding-bottom: 48px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important; 
  padding-bottom: 0 !important;
}

.checkout-footer {
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
  border: 1px solid rgba(0,0,0,.125); 
}

.delete-btn {
  /* position: absolute;
  right: 3%;
  bottom: 3%; */
}

@media screen and (max-width:480px) {
  .delete-btn { 
    width: 100vw; 
    display:block; 
    position: relative;
    right: 0;
    bottom: 0;
  }
}   
@media screen and (max-width: 375px) {


.productPrice {
  color: rgb(97, 97, 97)
}

.checkoutBtn {
  display: flex;
  position: relative;
  right: 0;
  align-items: center;
}

.itemDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.checkoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.appContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
}
